#### Categorical Variables

One of the main ways for working with categorical variables is using 0, 1 encodings.  In this technique, you create a new column for every level of the categorical variable.  The **advantages** of this approach include:

1. The ability to have differing influences of each level on the response.
2. You do not impose a rank of the categories.
3. The ability to interpret the results more easily than other encodings.

The **disadvantages** of this approach are that you introduce a large number of effects into your model.  If you have a large number of categorical variables or categorical variables with a large number of levels, but not a large sample size, you might not be able to estimate the impact of each of these variables on your response variable.  There are some rules of thumb that suggest 10 data points for each variable you add to your model.  That is 10 rows for each column.  This is a reasonable lower bound, but the larger your sample (assuming it is representative), the better.

Let's try out adding dummy variables for the categorical variables into the model.  We will compare to see the improvement over the original model only using quantitative variables.  


#### Run the cell below to get started.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import test1 as t
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head()

#Only use quant variables and drop any rows with missing values
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]

#Drop the rows with missing salaries
drop_sal_df = num_vars.dropna(subset=['Salary'], axis=0)

# Mean function
fill_mean = lambda col: col.fillna(col.mean())
# Fill the mean
fill_df = drop_sal_df.apply(fill_mean, axis=0)

#Split into explanatory and response variables
X = fill_df[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]
y = fill_df['Salary']

#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression() # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.03257139063404435 on 1503 values.'

In [2]:
df.describe()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
count,19102.000000,16102.000000,15253.000000,7721.000000,13452.000000,5009.000000,818.000000
mean,9551.500000,7.343932,7.000721,3.685922,8.357865,58341.398571,32231.521687
std,5514.416757,1.919330,2.128648,7.330691,1.405546,40753.384986,28543.877274
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4776.250000,6.000000,6.000000,0.000000,8.000000,27956.989247,4716.459735
50%,9551.500000,8.000000,7.000000,1.000000,8.000000,51612.903226,29784.946237
75%,14326.750000,9.000000,8.000000,3.000000,9.000000,83333.333333,50000.000000
max,19102.000000,10.000000,10.000000,40.000000,10.000000,195000.000000,120000.000000

#### Question 1

**1.** Use the **df** dataframe. Identify the columns that are categorical in nature.  How many of the columns are considered categorical?  Use the reference [here](http://pbpython.com/categorical-encoding.html) if you get stuck.

In [4]:
# Subset to a dataframe only holding the categorical columns
cat_df = df.drop(['Respondent','CareerSatisfaction','JobSatisfaction','HoursPerWeek','StackOverflowSatisfaction',
                  'Salary','ExpectedSalary'], axis=1)

# Print how many categorical columns are in the dataframe - should be 147
cat_df.shape[1]

147

In [4]:
# Test your dataframe matches the solution
t.cat_df_check(cat_df)

Nice job! That looks right!

#### Question 2

**2.** Use **cat_df** and the cells below to fill in the dictionary below the correct value for each statement.

In [5]:
# Cell for your work here
len(cat_df.columns[cat_df.isnull().sum()/len(cat_df) == 0])

6

In [6]:
# Cell for your work here
len(cat_df.columns[cat_df.isnull().sum()/len(cat_df) > 0.5])

49

In [7]:
# Cell for your work here
len(cat_df.columns[cat_df.isnull().sum()/len(cat_df) > 0.75])

13

In [8]:
# Provide the key as an `integer` that answers the question

cat_df_dict = {'the number of columns with no missing values': 6, 
               'the number of columns with more than half of the column missing': 49,
               'the number of columns with more than 75% of the column missing': 13
}

# Check your dictionary results
t.cat_df_dict_check(cat_df_dict)

Nice job! That looks right to me!

#### Question 3

**3.** For each of the categorical variables, we now need to create dummy columns.  However, as we saw above, there are a lot of missing values in the current set of categorical columns.  So, you might be wondering, what happens when you dummy a column that has missing values.

The documentation for creating dummy variables in pandas is available [here](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.get_dummies.html), but we can also just put this to practice to see what happens.

First, run the cell below to create a dataset that you will use before moving to the full stackoverflow data.

After you have created **dummy_var_df**, use the additional cells to fill in the **sol_3_dict** with the correct variables that match each key.

In [9]:
dummy_var_df = pd.DataFrame({'col1': ['a', 'a', 'b', 'b', 'a', np.nan, 'b', np.nan],
                             'col2': [1, np.nan, 3, np.nan, 5, 6, 7, 8] 
})
                            
dummy_var_df

  col1  col2
0    a   1.0
1    a   NaN
2    b   3.0
3    b   NaN
4    a   5.0
5  NaN   6.0
6    b   7.0
7  NaN   8.0

In [10]:
pd.get_dummies(dummy_var_df['col1'])# Use this cell to write whatever code you need.

   a  b
0  1  0
1  1  0
2  0  1
3  0  1
4  1  0
5  0  0
6  0  1
7  0  0

In [14]:
a = 1
b = 2
c = 3
d = 'col1'
e = 'col2'
f = 'the rows with NaNs are dropped by default'
g = 'the NaNs are always encoded as 0'


sol_3_dict = {'Which column should you create a dummy variable for?': d,
              'When you use the default settings for creating dummy variables, how many are created?': b,
              'What happens with the nan values?': g
             }

# Check your dictionary against the solution
t.sol_3_dict_check(sol_3_dict)

Nice job! That looks right to me!

#### Question 4

**4.** Notice, you can also use **get_dummies** to encode **NaN** values as their own dummy coded column using the **dummy_na** argument.  Often these NaN values are also informative, but you are not capturing them by leaving them as 0 in every column of your model.

Create a new encoding for **col1** of **dummy_var_df** that provides dummy columns not only for each level, but also for the missing values below. Store the 3 resulting dummy columns in **dummy_cols_df** and check your solution against ours.

In [17]:
#Create the three dummy columns for dummy_var_df
dummy_cols_df = pd.get_dummies(dummy_var_df['col1'], dummy_na=True)

# Look at your result
dummy_cols_df

   a  b  NaN
0  1  0    0
1  1  0    0
2  0  1    0
3  0  1    0
4  1  0    0
5  0  0    1
6  0  1    0
7  0  0    1

In [18]:
# Check against the solution
t.dummy_cols_df_check(dummy_cols_df)

Nice job! That looks right!

#### Question 5

**5.** We could use either of the above to begin creating an X matrix that would (potentially) allow us to predict better than just the numeric columns we have been using thus far.

First, complete the **create_dummy_df**.  Follow the instructions in the document string to assist as necessary.

In [5]:
#Create a copy of the dataframe
cat_df_copy = cat_df.copy()
#Pull a list of the column names of the categorical variables
cat_cols_lst = cat_df.columns

In [6]:
cat_cols_lst

Index(['Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize', 'CompanyType',
       ...
       'StackOverflowBetter', 'StackOverflowWhatDo', 'StackOverflowMakeMoney',
       'Gender', 'HighestEducationParents', 'Race', 'SurveyLong',
       'QuestionsInteresting', 'QuestionsConfusing', 'InterestedAnswers'],
      dtype='object', length=147)

In [13]:
#Create a copy of the dataframe
cat_df_copy = cat_df.copy()
#Pull a list of the column names of the categorical variables
cat_cols_lst = cat_df.columns

def create_dummy_df(df, cat_cols, dummy_na):
    '''
    INPUT:
    df - pandas dataframe with categorical variables you want to dummy
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    
    OUTPUT:
    df - a new dataframe that has the following characteristics:
            1. contains all columns that were not specified as categorical
            2. removes all the original columns in cat_cols
            3. dummy columns for each of the categorical columns in cat_cols
            4. if dummy_na is True - it also contains dummy columns for the NaN values
            5. Use a prefix of the column name with an underscore (_) for separating 
    '''
    df.drop(columns=cat_cols_lst)
    dummy_cols_df = pd.get_dummies(cat_cols_lst, dummy_na=dummy_na)


    return df

In [9]:
df_copy = df.copy()

TypeError: copy() got an unexpected keyword argument 'columns'

In [10]:
df.drop(columns=cat_cols_lst)

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
0,1,NaN,NaN,0.0,9.0,NaN,NaN
1,2,NaN,NaN,NaN,8.0,NaN,37500.0
2,3,8.0,9.0,NaN,8.0,113750.0,NaN
3,4,6.0,3.0,5.0,10.0,NaN,NaN
4,5,6.0,8.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
19097,19098,9.0,8.0,NaN,8.0,NaN,NaN
19098,19099,NaN,NaN,NaN,NaN,NaN,NaN
19099,19100,4.0,5.0,NaN,NaN,NaN,NaN
19100,19101,8.0,9.0,NaN,9.0,110000.0,NaN
19101,19102,8.0,8.0,NaN,NaN,NaN,NaN

In [12]:
dummy_cols_df = pd.get_dummies(cat_cols_lst, dummy_na=dummy_na)
dummy_cols_df

,AnnoyingUI,AssessJobCommute,AssessJobCompensation,AssessJobDept,AssessJobDiversity,AssessJobExp,AssessJobFinances,AssessJobIndustry,AssessJobLeaders,AssessJobOffice,...,WantWorkFramework,WantWorkLanguage,WantWorkPlatform,WebDeveloperType,WorkPayCare,WorkStart,YearsCodedJob,YearsCodedJobPast,YearsProgram,NaN
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
if dummy_na==False:

In [14]:
#Use your newly created function
df_new = create_dummy_df(df, cat_cols_lst, dummy_na=False) 

# Show shape to assure it has a shape of (5009, 11938)
print(df_new.shape)

(19102, 154)

In [15]:
#check your dataframe against the solution dataframe.
t.create_dummy_df_check(df_new)

Looks like there is a difference due to these columns not matching: {'Gender', 'WorkStart', 'HaveWorkedDatabase', 'ExCoderBalance', 'StackOverflowAnswer', 'WorkPayCare', 'Overpaid', 'DeveloperType', 'JobProfile', 'AssessJobDiversity', 'HaveWorkedFramework', 'ImportantBenefits', 'VersionControl', 'LearningNewTech', 'AssessJobTech', 'ExCoderReturn', 'SeriousWork', 'QuestionsConfusing', 'EmploymentStatus', 'AssessJobRole', 'StackOverflowWhatDo', 'EducationImportant', 'LearnedHiring', 'ChallengeMyself', 'ImportantHiringTechExp', 'Country', 'AssessJobProduct', 'RightWrongWay', 'Professional', 'StackOverflowHelpful', 'ResumePrompted', 'StackOverflowAdsDistracting', 'YearsCodedJob', 'BoringDetails', 'KinshipDevelopers', 'ClickyKeys', 'IDE', 'ImportantHiringRep', 'CompanyType', 'Currency', 'ChangeWorld', 'JobSecurity', 'AuditoryEnvironment', 'EnjoyDebugging', 'AssessJobIndustry', 'ImportantHiringEducation', 'ExCoderSkills', 'ExCoderActive', 'InfluenceWorkstation', 'InterestedAnswers', 'TimeAfterBootcamp', 'AssessJobDept', 'PronounceGIF', 'InTheZone', 'StackOverflowCompanyPage', 'ImportantHiringTitles', 'MajorUndergrad', 'InfluenceDeptTech', 'InfluenceVizTools', 'WantWorkPlatform', 'InfluenceCloud', 'AssessJobCommute', 'AssessJobProfDevel', 'EquipmentSatisfiedRAM', 'HighestEducationParents', 'EquipmentSatisfiedStorage', 'YearsProgram', 'CompetePeers', 'ImportantHiringOpenSource', 'InfluenceHardware', 'ImportantHiringGettingThingsDone', 'StackOverflowBetter', 'TabsSpaces', 'CousinEducation', 'MobileDeveloperType', 'EquipmentSatisfiedMonitors', 'NonDeveloperType', 'DifficultCommunication', 'ImportantHiringCommunication', 'StackOverflowCopiedCode', 'SurveyLong', 'AssessJobRemote', 'EquipmentSatisfiedCPU', 'ImportantHiringPMExp', 'ExCoderNotForMe', 'ImportantHiringCompanies', 'ProblemSolving', 'StackOverflowJobSearch', 'AssessJobCompensation', 'AssessJobExp', 'YearsCodedJobPast', 'InvestTimeTools', 'WantWorkDatabase', 'StackOverflowAdsRelevant', 'HomeRemote', 'UnderstandComputers', 'LastNewJob', 'StackOverflowNewQuestion', 'HaveWorkedPlatform', 'SelfTaughtTypes', 'StackOverflowModeration', 'StackOverflowMakeMoney', 'ProgramHobby', 'StackOverflowFoundAnswer', 'InfluenceCommunication', 'AssessJobProjects', 'CompanySize', 'DiversityImportant', 'QuestionsInteresting', 'Methodology', 'AnnoyingUI', 'InfluenceServers', 'AssessJobLeaders', 'CheckInCode', 'BuildingThings', 'JobSeekingStatus', 'WebDeveloperType', 'StackOverflowCommunity', 'InfluenceDatabase', 'FriendsDevelopers', 'MetricAssess', 'ExCoderWillNotCode', 'ImportantHiringAlgorithms', 'EquipmentSatisfiedRW', 'OtherPeoplesCode', 'HaveWorkedLanguage', 'University', 'StackOverflowJobListing', 'FormalEducation', 'CollaborateRemote', 'StackOverflowDescribes', 'InfluenceInternet', 'InfluenceRecruitment', 'Race', 'StackOverflowMetaChat', 'ExCoder10Years', 'EducationTypes', 'AssessJobOffice', 'ShipIt', 'WantWorkFramework', 'AssessJobFinances', 'ExCoderBelonged', 'InfluenceTechStack', 'StackOverflowDevices', 'InfluenceConsultants', 'ProjectManagement', 'WantWorkLanguage'}
That wasn't quite as expected.  Make sure your dataframe has these 4 characteristics:   1. contains all columns that were not specified as categorical 2. removes all the original columns in cat_cols 3. dummy columns for each of the categorical columns in cat_cols 4. if dummy_na is True - it also contains dummy columns for the NaN values 5. Use a prefix of the column name with an underscore (_) for separating

#### Question 6

**6.** Use the document string below to complete the function.  Then test your function against the solution.

In [ ]:
def clean_fit_linear_mod(df, response_col, cat_cols, dummy_na, test_size=.3, rand_state=42):
    '''
    INPUT:
    df - a dataframe holding all the variables of interest
    response_col - a string holding the name of the column 
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    test_size - a float between [0,1] about what proportion of data should be in the test dataset
    rand_state - an int that is provided as the random state for splitting the data into training and test 
    
    OUTPUT:
    test_score - float - r2 score on the test data
    train_score - float - r2 score on the test data
    lm_model - model object from sklearn
    X_train, X_test, y_train, y_test - output from sklearn train test split used for optimal model
    
    Your function should:
    1. Drop the rows with missing response values
    2. Drop columns with NaN for all the values
    3. Use create_dummy_df to dummy categorical columns
    4. Fill the mean of the column for any missing values 
    5. Split your data into an X matrix and a response vector y
    6. Create training and test sets of data
    7. Instantiate a LinearRegression model with normalized data
    8. Fit your model to the training data
    9. Predict the response for the training data and the test data
    10. Obtain an rsquared value for both the training and test data
    '''
    df.dropna()
    df.dropna(axis=1, how='all')

    return test_score, train_score, lm_model, X_train, X_test, y_train, y_test


#Test your function with the above dataset
test_score, train_score, lm_model, X_train, X_test, y_train, y_test = clean_fit_linear_mod(df_new, 'Salary', cat_cols_lst, dummy_na=False)

In [19]:
df.dropna()
df.dropna(axis=1, how='all')

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19097,19098,Professional developer,"Yes, I program as a hobby",Canada,No,Employed full-time,Bachelor's degree,A business discipline,A few days each month,10 to 19 employees,...,Disagree,Male,"Some college/university study, no bachelor's d...",White or of European descent,Somewhat agree,Agree,Disagree,Agree,NaN,NaN
19098,19099,Student,"Yes, I program as a hobby",India,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19099,19100,Professional non-developer who sometimes write...,"Yes, I program as a hobby",United Kingdom,No,"Independent contractor, freelancer, or self-em...",Bachelor's degree,Computer science or software engineering,Never,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19100,19101,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Some college/university study without earning ...,A humanities discipline,"Less than half the time, but at least one day ...",100 to 499 employees,...,Disagree,Male,"Some college/university study, no bachelor's d...",White or of European descent,Somewhat agree,Somewhat agree,Disagree,Agree,110000.0,NaN
19101,19102,Professional developer,"Yes, I program as a hobby",France,No,Employed full-time,Master's degree,Computer science or software engineering,All or almost all the time (I'm full-time remote),100 to 499 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.mean()

Respondent                    9551.500000
CareerSatisfaction               7.343932
JobSatisfaction                  7.000721
HoursPerWeek                     3.685922
StackOverflowSatisfaction        8.357865
Salary                       58341.398571
ExpectedSalary               32231.521687
dtype: float64

In [ ]:
#Print training and testing score
print("The rsquared on the training data was {}.  The rsquared on the test data was {}.".format(train_score, test_score))

Notice how much higher the rsquared value is on the training data than it is on the test data - why do you think that is?